.demo {
	width:980px;
	height:2000px;
	margin:0 auto;
	background-color:#F8F8F8;
}

.header {
	height:300px;
	line-height:300px;
	text-align:center;
	background:#4E2449;
}

.header h1 {
	font-family:'微软雅黑';
	font-size:30px;
	color:#FFFFFF;
}

.menu {
	height:40px;
	line-height:40px;
	width:980px;
	background-color:#171717;
	color:#ffffff;
	text-align:center;
}