.demo {
	width:980px;
	margin:20px auto;
	border:1px solid red;
	height:2000px;
}

.goto-top {
	width:25px;
	height:25px;
	text-align:center;
	padding:10px;
	font-size:12px;
	cursor:pointer;
	border-radius:3px;
	background-color:#8FD8D9;
}

.goto-top a {
	color:#FFFFFF;
	text-decoration:none;
}

#footer {
	height:200px;
	background-color:#E8E8E8;
}